<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min-513.css" type="text/css">
</head>
<body>
<div id="wrapper">
	<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">La page n'a pas été trouvée...</div>
                <a href="/" class="btn btn-link">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
