---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Le blog'
---
<BaseLayout content={{title}}>

<article class="shadow p-3 mx-auto bg-light rounded-lg" id="blog">
      <h2>Blog</h2>
      <h3>Commerce équitable</h3>
      <blockquote>Notre monde a plusieurs facettes</blockquote>
      <p>Alors que nous vivons majoritairement en abondance en Occident, il existe des régions où la vie est très
        différente. Le Népal fait partie de ces régions où de très nombreuses personnes vivent dans des
        conditions précaires. Nous voulons apporter notre petite contribution contre le déséquilibre. C'est
        pourquoi, il
        est si important pour nous que nos produits soient commercialisés JUSTE.</p>
        <p>Cela signifie que les travailleurs soient payés équitablement, que les conditions de travail soient
          correctes et, bien sûr, que le travail des enfants soit absolument exclu. Nos Fournisseurs locaux au
          Népal s'engagent à
          travailler selon les directives du commerce équitable, la
          plupart d'entre-eux sont également certifiés selon les normes du Nepal Fair Trade Group.</p>
        <h3>Fabrication des Bols Chantants</h3>
        <p>Les bols chantants martelés à la main : leur fabrication, ancestrale, nécessite une main d'œuvre
          nombreuse.
          Dans un creuset calcaire, on coule sept métaux dont les proportions restent jalousement tenues
          secrètes.
          On obtient alors une galette d'alliage qui sera ensuite placée dans un four à très haute
          température. 
          L'équipe de martelage est constituée (tout dépend la grandeur du bol) de 4 personnes.</p>
        <p>3-5 marteleurs manient la masse de frappe, de façon alternée, avec une synchronisation parfaite. Le
          quatrième marteleur est en quelque sorte le contremaître : c’est lui qui, avec la pince, présente la
          galette en différentes positions pour prendre la forme voulue. Si ce travail peut paraître très
          violent,
          Il est extrêmement précis et ne souffre d'aucune erreur de placement.</p>
        <p>Après plusieurs heures de martèlements alternées de remises au four, et une dernière finition
          martelée
          par le maître d'œuvre, le bol tibétain est ébarbé, puis poli. Ensuite, il peut recevoir une finition
          personnalisée.</p>
        <p>Les métaux : la tradition tibétaine veut qu'un alliage de sept métaux différents soit employé, chaque
          métal se
          rapportant à un des sept chakras, les métaux utilisés font aussi référence aux sept corps célestes
          du
          système solaire, et aux sept jours de la semaine.</p>
        <ul>
          <li>Argent pour la Lune</li>
          <li>Cuivre pour Vénus</li>
          <li>Étain pour Jupiter</li>
          <li>Fer pour Mars</li>
          <li>Mercure pour Mercure</li>
          <li>Or pour le Soleil</li>
          <li>Plomb pour Saturne</li>
        </ul>
        <h3>Les Bols Chantants</h3>
        <p>Un Bol Chantant est un instrument sacré, symbole du soleil, qui de ses multiples rayons, nous
          enveloppe,
          stimule notre peau, traverse notre corps et éclaire notre conscience et notre âme. 
          Sa plage de fréquence étendue en fait un instrument unique.</p>  
        <p>Il représente aussi le son de la création, le son de l’univers...
          Quand il résonne, les pensées s’arrêtent, le temps est suspendu. Les vibrations nous immergent, nous
          enveloppent, comme un bain sonore ressourçant et guérissant.</p>
        <p>Le son du Bol Chantant permet un nettoyage des mémoires émotionnelles perturbantes, une harmonisation
          des
          corps énergétiques et physiques, ce qui permet de relâcher les blocages et à l’énergie de circuler à
          nouveau librement à travers notre être. Nous reconnectons alors notre état de joie, d’harmonie, de
          paix
          et d’amour.</p>
        <p>Le Bol Chantant permet à la fois de travailler sur les ondes cérébrales Thêta, état de régénération
          profonde, et en même temps, de stimuler toutes les cellules du corps pour les mettre en résonance
          vibratoire positive. Le Bol Chantant constitue un véritable instrument de transformation. Il produit
          des
          sons simultanés et
          très complexes allant de l’infra-basse à l’ultra-son, non perçus par l’oreille humaine, mais
          agissant
          positivement sur les corps énergétiques et physiques.</p>
        <p>Grace à une longue recherche de fréquences en lien avec la biorésonance, les planètes et les ondes du
          cerveau nous pouvons proposer des Bols Chantants thérapeutique de haute qualité 
          Ils sont spécialement sélectionnés sur leurs fréquences, la résonance et la pureté du son. Nos bols
          garantissent ainsi une vibration optimale avec un son long et clair, ils permettent ainsi un
          soin de haute qualité en sonothérapie</p>
        <p>Quelques reportages YouTube :</p>
        <ul>
          <li><a href="https://youtu.be/4bksvOoIyCA">France 2 : Bonne ondes - Zen</a></li>
          <li><a href="https://youtu.be/4bksvOoIyCA?t=120">Zen and sounds : la relaxation par le son</a></li>
          <li><a href="https://youtu.be/jK8wcDbS5D8">Le massage tibétain aux bols chantants</a></li>
        </ul>
    </article>

</BaseLayout>

