---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Les soins'
---
<BaseLayout content={{title}}>

<!-- Three Boxes -->
    <div class="album py-5 bg-light">
      <div>
        <div class="row row-cols-1 row-cols-md-3 m-3">
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/386554/11648593_800.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Koshi</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">CHF 48.-</p>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/394118/11295287_800.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Zaphir</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">CHF 48.-</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/394223/11531939_800.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Tambours</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">40cm / CHF 220.-</p>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/394223/11531939_800.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Tambours</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">50cm / CHF 290.-</p>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="card shadow-sm">
              <img src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/317673/7477470_800.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Bols chantants tibétains</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">Prix sur demande</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.mandalia-music.com/wp-content/uploads/2015/03/p_502-1350-Flute-Condor-Bass-en-Re-Cedre-aromatique.jpg" class="" alt="Sonothérapie" />
              <div class="card-body">
                <p class="card-header">Sauge grande</p>
                <p class="card-text">Description de l'instrument</p>
                <p class="card-text">CHF 16.-</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src="/assets/1920x1080-bol-batte-rouge.jpg" class="w-100 shadow-lg" alt="">

</BaseLayout>

