<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="bol, handpan, bienfaits" />
    <meta name="description" content="Au Coeur des Sons, des soins avec la sonothérapie" />
    <title>Au Coeur des Sons, sono-thérapie</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon.png">
    <link rel="stylesheet" href="./css/bootstrap.min-513.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body id="top" class="bg-white">
    <main class="container-md bg-white p-0">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container justify-content-center">
                  <a class="navbar-brand" href="/">ACCUEIL</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/soins">SOINS</a></li>
                      <li class="nav-item"><a class="nav-link" href="/formation">FORMATION</a></li>
                      <li class="nav-item"><a class="nav-link" href="/blog">BLOG</a></li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        
        <slot />

        <footer class="bg-dark text-white">
            <div class="container p-3">
                <h3>Affiliations</h3>
                <p class="small"><a href="https://www.valimassage.ch/">Valimassage</a> - <a href="https://www.the-bodymind.ch/">The Bodymind</a></p>
                <p class="small">Web design & photos : <a href="https://www.maillard.li/">Michel Maillard</a></p>
            </div>
        </footer>
    </main>

</body>

</html>
    
<script is:inline src="/js/bootstrap.bundle.min-513.js"></script>
